@model GerenciadorDePedidos.Models.Solicitante

@{
    ViewData["Title"] = "Create";
}

<h2>Adicionar Solicitante</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MesaIdMesa" class="control-label">Número da Mesa</label>
                <select asp-for="MesaIdMesa" class="form-control" asp-items="ViewBag.MesaIdMesa"></select>
            </div>
            <div class="form-group">
                <label asp-for="MesaIdMesa" class="control-label">Número da Mesa</label>
                <input asp-for="MesaIdMesa" class="form-control" />
                <span asp-validation-for="MesaIdMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
